body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

button {
    margin: 5px;
    padding: 15px;
    font-size: 18px;
}

button.active {
    background-color: #4CAF50;
    color: rgb(14, 14, 14);
}